<div class="header">
  
  <h1>Movie Database</h1>
  
</div>

<div class="sub-header">
    <%= @movies.length %> total movies available.
</div>

<div class="content js-masonry" data-masonry-options='{ "columnWidth": 0, "itemSelector": ".item" }'>
  <% @movies.each do |movie| %>
  <div class="movie-div item">
    <%= link_to 'X', movie, method: :delete, data: { confirm: 'Are you sure?' }, class: "delete" %>
    <div class="box center-block">
      <%= link_to image_tag(movie.image_url, class:'movie-poster'), movie %>
      <div class="overbox">
        <div class="title overtext">
          <h2>IMDB</h2>
          <p><%= movie.imdb_score %>/10</p>
        </div>
        <div class="tagline overtext">
          <p>$<%= movie.price %></p>
        </div>
      </div>
    </div>
    <h2><%= movie.title %> (<%= movie.year %>)</h2>
    <div class="genre">
      <p><%= movie.genre %></p>
    </div>
    <div class="left-block">
      <div class="rating"><p><%= movie.rating %></p></div>
    </div>
    <div class="right-block">
      <div class="runtime">
        <p><%= movie.runtime %> min</p></div>
    </div>
  </div>
  <% end %>
</div>

<!--<div id="dialog" title="Basic dialog">
  <p>This is the default dialog which is useful for displaying information. The dialog window can be moved, resized and closed with the 'x' icon.</p>
</div>-->