<div class="header">
  
  <h1>Movie Database</h1>
  
</div>

<div class="content">
  <% @movies.each do |movie| %>
  <div class="movie-div">
    <div class="box center-block">
      <%= image_tag(movie.image_url, class:'movie-poster') %>
      <div class="overbox">
        <div class="title overtext">
          <h2>IMDB</h2>
          <p><%= movie.imdb_score %>/10</p>
        </div>
        <div class="tagline overtext">
          <p>$<%= movie.price %></p>
        </div>
      </div>
    </div>
    <h2><%= movie.title %> (<%= movie.year %>)</h2>
    <div class="genre">
      <p><%= movie.genre %></p>
    </div>
    <div class="left-block">
      <div class="rating"><p><%= movie.rating %></p></div>
    </div>
    <div class="right-block">
      <div class="runtime">
        <p><%= movie.runtime %> min</p></div>
    </div>
  </div>
  <% end %>
</div>